<!-- sidebar.component.html -->
<div class="bg-gray-900 text-white w-64 h-screen p-2">
  <div class="flex justify-center p-5">
    <h1 class="m-0 text-6xl font-bold	border-4 rounded-3xl p-5">SMS</h1>
  </div>
  <ul class="space-y-4  ml-4">
    <li><a routerLink="/dashboard" class="hover:text-gray-300 hover:border-l-2 hover:border-white pl-2">Dashboard</a></li>
    <li><a routerLink="/students" class="hover:text-gray-300 hover:border-l-2 hover:border-white pl-2">Students</a></li>
    <li><a routerLink="/teachers" class="hover:text-gray-300 hover:border-l-2 hover:border-white pl-2">Teachers</a></li>
    <li><a routerLink="/classes" class="hover:text-gray-300 hover:border-l-2 hover:border-white pl-2">Classes</a></li>
  </ul>
</div>
